#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

upstream {{ item.name.replace('.', '_') }} {
  server {{ item.upstream_host | default('127.0.0.1') }}:{{ item.upstream }};
}

server {
  listen {{ item.listen | default('80') }};
  {% if item.server_name | default() %}
  server_name {{ ' '.join(item.server_name) }};
  {% else %}
  server_name {{ item.name }};
  {% endif %}

  {% if item.force_ssl | default(True) and item.ssl_certificate %}
  return 301 https://$server_name{{ ':' + item.ssl_listen|string if item.ssl_listen | default() and item.ssl_listen != 443 else '' }}$request_uri;
  {% else %}
  location / {
    proxy_set_header X-Real-IP  $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $host;
    proxy_set_header X-Scheme $scheme;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Original-URI $request_uri;

    proxy_pass {{ item.upstream_protocol | default('http') }}://{{ item.name.replace('.', '_') }};
  }
  {% endif %}
}

{% if item.ssl_certificate %}
{# SSL Server Definition #}
server {
  listen {{ item.ssl_listen | default('443') }} ssl;
  {% if item.server_name | default() %}
  server_name {{ ' '.join(item.server_name) }};
  {% else %}
  server_name {{ item.name }};
  {% endif %}

  ssl_certificate {{ item.ssl_certificate }};
  ssl_certificate_key {{ item.ssl_certificate_key }};

  location / {
    proxy_set_header X-Real-IP  $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $host;
    proxy_set_header X-Scheme $scheme;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Original-URI $request_uri;

    proxy_pass {{ item.upstream_protocol | default('http') }}://{{ item.name.replace('.', '_') }};
  }
}

{% endif %}
